# Создано с помощью https://www.toptal.com/developers/gitignore/api/macos
# Отредактируйте на https://www.toptal.com/developers/gitignore?templates=macos

### macOS ###
# Общие
.DS_Store
.AppleDouble
.LSOverride

# Значок должен заканчиваться двумя символами \r
Icon

# Миниатюры
._*

# Файлы, которые могут находиться в корневом каталоге тома
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Каталоги, которые могут быть созданы на удаленном общем ресурсе AFP
.AppleDB
.AppleDesktop
Сетевая папка «Корзина»
Временные файлы
.apdisk

### Патч для macOS ###
# Файлы, созданные iCloud
*.icloud

# Конец https://www.toptal.com/developers/gitignore/api/macos